{% autoescape off %}
To initiate the password reset process for your Para iniciar el proceso de restablecimiento de contraseña para la cuenta {{ user.get_username }}, 
   del sistema de información clínica de urgencia, por favor dirijase a:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si clickear el enlace no funciona por favor copie y pegue el enlace en otra ventana del navegador



Coridalmente,
Sistema de Información Clínica de Urgencia
{% endautoescape %}