
{% extends 'app/layout.html' %}

{% block content %}
<h2>Atenciones de Urgencia</h2>
  
<div>
    <div class="row">
        
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            Listado 
          </h4>
        </div>
        <table class="table table-fixed">
            {% if lista %}
          <thead>
              
            <tr>
              <th class="col-xs-3">Enfermedad</th><th class="col-xs-3">Tratamiento </th><th class="col-xs-3">Observacion Urgencia</th><th class="col-xs-3">Fecha/Hora atención</th>
            </tr>
              
          </thead>
            
          <tbody>
              {% for atencion, enfermedad in lista %}
            <tr>
              <td class="col-xs-3">{{ enfermedad.nombre }}</td><td class="col-xs-3">{{ atencion.tratamiento }}</td><td class="col-xs-3">{{atencion.observacion_urgencia}}</td><td class="col-xs-3">{{atencion.fecha_atencion_hora}}</td>
            </tr>
               {% endfor %} 
          </tbody>
            {% else %}

            <thead>
              
            <tr>
              <th class="col-xs-12">Sin Resultados</th>
            </tr>
              
          </thead>
                <tbody>
                    <tr>
                      <td class="col-xs-12"><italic>No hay resultados para su busqueda</italic></td>
                    </tr>
                </tbody>
            {% endif %}
        </table>
      </div>
        
  </div>

    
</div>
<script>
    
</script>
{% endblock %}