{% extends 'app/layout.html' %}

{% block content %}
  <h2>Solicitudes por atender</h2>
  
<div>
    <div class="row">
        
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            Listado 
          </h4>
        </div>
        <table class="table table-fixed">
            {% if solicitudes %}
          <thead>
              
            <tr>
              <th class="col-xs-3"># Ticket</th><th class="col-xs-3">Rut Medico </th><th class="col-xs-3">Fecha Emitido</th><th class="col-xs-3">Descripcion</th>
            </tr>
              
          </thead>
            
          <tbody>
              {% for solicitud in solicitudes %}
            <tr>
              <td class="col-xs-2">{{ solicitud.id }}</td>
                <td class="col-xs-3">{{ solicitud.rut_medico }}</td>
                <td class="col-xs-3">{{ solicitud.estado }}</td>
                <td class="col-xs-4">{{ticket.observacion}}</td>
                <td class="col-xs-3"><button onclick="location.href='{% url 'pagina solicitud' solicitud.id %}'" >Ver</button></td>
            </tr>
               {% endfor %} 
          </tbody>
            {% else %}

            <thead>
              
            <tr>
              <th class="col-xs-12">Sin Resultados</th>
            </tr>
              
          </thead>
                <tbody>
                    <tr>
                      <td class="col-xs-12"><italic>No hay resultados </italic></td>
                    </tr>
                </tbody>
            {% endif %}
        </table>
      </div>
        
  </div>

    
</div>
<script>
    
</script>
{% endblock %}